<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title> CRUD operations </title>
</head>
<body>
<center>
    <h1>Edit form</h1>
    <form method="POST">
        {% csrf_token %}
        <table border="1">
            {% for questionanswer in query %}
            <tr>
                <td>ID</td>
                <td><input type="number" name="id" value="{{questionanswer.id}}" readonly/></td>
                <td>question</td>
                <td><input type="text" name="question" value="{{questionanswer.question}}" /></td>
                <td>answer</td>
                <td><input type="text" name="answer" value="{{questionanswer.answer}}"/></td>
                <td>question EN</td>
                <td><input type="text" name="question_en" value="{{questionanswer.question_en}}"/></td>
                <td>answer EN</td>
                <td><input type="text" name="answer_en" value="{{questionanswer.answer_en}}"/></td>

                <td><a href="#">Save</a></td>
                <td><a href="#">Delete</a></td>
            </tr>
            {% endfor %}
        </table>

    </form>
</center>
</body>
</html>