{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<script>

    $(function() {
        var question = {{ question|safe }};

        $("#search_input").autocomplete({
            source: question,
            minLength:2
        });
    });


    onChange = "window.location.href=this.value";

</script>

<style>

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
    }

    .ui-autocomplete > li > div {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857143;
        color: #333333;
        white-space: nowrap;
    }

    .ui-state-hover,
    .ui-state-active,
    .ui-state-focus {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
        cursor: pointer;
    }

    .ui-helper-hidden-accessible {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }


    #search {
        text-align: center; 
        margin-left: -40%;
        margin-right: -40%;
        Height: 600px;
        color: aliceblue;
        background-color: #f37a3b;
        background-position: 0px -410px; 
        background-image: url("{% static 'img/bg.png' %}")
    }

    #search_input {
        margin-left: auto;
    }
    #search-button {
        margin-right: auto;
        background-color: #e87639;
        border-color: #e87639;
    }

    #Viewquestion {
        background-color: #f7f7f9;
        border: 2px solid #f7f7f9;
        border-radius: 6px;
        margin-top: -150px;
        margin-left: -40px;
        text-align: center;
        color: #262626;
        border-radius: 20px;
        transition: border-color 0.3s;
    }

    #FAQs {
        background-color: #f7f7f9;
        border: 2px solid #f7f7f9;
        border-radius: 6px;
        margin-top: -150px;
        margin-left: 30px;
        text-align: center;
        color: #262626;
        border-radius: 20px;
        transition: border-color 0.3s;
    }

    #recent_update {
        border: 2px solid #f7f7f9;
        background-color: #f7f7f9;
        border-radius: 6px;
        margin-top: -150px;
        margin-left: 30px;
        margin-right: -40px;
        color: #262626;
        text-align: center; 
        border-radius: 20px;
        transition: border-color 0.3s;
    }

    #recent_update:hover {
        text-decoration: none;
        border: 2px solid #f37a3b;
        color: #f37a3b;
    }

    #FAQs:hover {
        text-decoration: none;
        border: 2px solid #f37a3b;
        color: #f37a3b;
    }

    #Viewquestion:hover {
        text-decoration: none;
        border: 2px solid #f37a3b;
        color: #f37a3b;
    }

    </style>

<div class="jumbotron" id="search">
    <h1 style="margin-top: 140px;">How can we help you ?</h1>
    <p class="lead">Type the question you want to ask </p>

    <form action="{% url 'search' %}" class="form-inline" method="POST">
        {% csrf_token %}
        <input name="search" id="search_input" tpye="text" class="form-control col-lg-offset-3 col-lg-6" placeholder="Search here....." autocomplete="off">
        <button id="search-button" type="submit" class="btn btn-primary">
            <i class="fas fa-search" ></i>
        </button>
    </form>
</div>
<p></p>

<div class="row">
    <a href="{% url 'about' %}" class="col-sm-4" id="Viewquestion" >
    <div>
        <i class="far fa-question-circle fa-3x" style="margin-bottom: 30px; margin-top: 30px; color: #f37a3b"></i>
        <h4 style="">View Questions</h4>
        <br/>
        <p style="width: 10vw; margin-left: auto; margin-right: auto; color: #262626">View all question in our knowledge base. </p>
        <br/>
    </div>
    </a>
    <a href="{% url 'about' %}" class="col-sm-4" id="FAQs">
        <div >
            <i class="far fa-comments fa-3x" style="margin-bottom: 30px; margin-top: 30px; color: #f37a3b"></i>
            <h4 style="" id="faqs">FAQs</h4>
            <br/>
            <p style="width: 13vw; margin-left: auto; margin-right: auto; color: #262626">Check for the latest update of the question in our knowledge base. </p>
            <br/>
        </div>
    </a>

    <a href="{% url 'about' %}" class="col-sm-4" id="recent_update">
        <div >
            <i class="fas fa-edit fa-3x" style="margin-bottom: 30px; margin-top: 30px; color: #f37a3b"></i>
            <h4 style="" id="update">Recent Updated</h4>
            <br/>
            <p style="width: 13vw; margin-left: auto; margin-right: auto; color: #262626">Check for the latest update of the question in our knowledge base. </p>
            <br/>
        </div>
    </a>

</div>
<br/><br/><br/>
<div class="jumbotron">
    <h1>Admin panel</h1>
    <br/>
    <label for="operation">Choose operation:</label>
    <select name="operation" id="operation" onchange="location = this.value;">
        <option value="">Choose option</option>
        <option value="{% url 'Crud_QA' operation='Add' id='0' %}" href="{% url 'Crud_QA' operation='Add' id='0' %}">Add</option>
        <option value="{% url 'Crud_QA' operation='View' id='0' %}" href="{% url 'Crud_QA' operation='View' id='0' %}">View</option>
    </select>
    <button type="submit" class="btn-primary" style="margin-left: 2.5em;" formaction="{% url 'train_dict' %}"> Train Dict</button>
</div>

{% endblock %}