{% extends "app/layout.html" %}

{% block content %}
{% load static %}

<script>

    $(document).ready(function() {
        var availableTags = [
            "ActionScript", "AppleScript", "Asp", "BASIC", "C", "C++",
            "Clojure", "COBOL", "ColdFusion", "Erlang", "Fortran",
            "Groovy", "Haskell", "Java", "JavaScript", "Lisp", "Perl",
            "PHP", "Python", "Ruby", "Scala", "Scheme"
        ];
        $("#search-input").autocomplete({
            source: availableTags
        });
    });

    onChange = "window.location.href=this.value";

</script>

<style>

    #search {
        text-align: center; 
        margin-left: -40%;
        margin-right: -40%;
        Height: 600px;
        color: aliceblue;
        background-color: #f37a3b;
        background-position: 0px -410px; 
        background-image: url("{% static 'img/bg.png' %}")
    }

    #search-input {
        margin-left: auto;
    }
    #search-button {
        margin-right: auto;
        background-color: #e87639;
        border-color: #e87639;
    }

    #Viewquestion {
        background-color: #f7f7f9;
        border: 1px solid #eceeef;
        border-radius: 6px;
        margin-top: -150px;
        margin-left: -40px;
        text-align: center; 
        border-radius: 20px;
        transition: border-color 0.3s;
    }

    #FAQs {
        background-color: #f7f7f9;
        border: 1px solid #eceeef;
        border-radius: 6px;
        margin-top: -150px;
        margin-left: 30px;
        text-align: center; 
        border-radius: 20px;
        transition: border-color 0.3s;
    }

    #recent_update {
        background-color: #f7f7f9;
        border: 1px solid #eceeef;
        border-radius: 6px;
        margin-top: -150px;
        margin-left: 30px;
        margin-right: -40px;
        text-align: center; 
        border-radius: 20px;
        transition: border-color 0.3s;
    }


</style>

<div class="jumbotron" id="search">
    <h1 style="margin-top: 140px;">How can we help you ?</h1>
    <p class="lead">Type the question you want to ask </p>

    <form action="{% url 'search' %}" class="form-inline" method="POST">
        {% csrf_token %}
        <input name="search-input" id="search-input" tpye="text" class="form-control" placeholder="Search here.....">
        <button id="search-button" type="submit" class="btn btn-primary">
            <i class="fas fa-search" ></i>
        </button>
    </form>
</div>
<p></p>

<div class="row">
    <div class="col-sm-4" id="Viewquestion" href="#">
        <h4 style="margin-top: 30px">View Questions</h4>
        <br/>
        <i class="far fa-question-circle fa-3x" style="margin-bottom:30px"></i>
        <p style="width: 300px; margin-left: auto; margin-right: auto">View all question in our knowledge base. </p>
        <br/>
    </div>

    <div class="col-sm-4" id="FAQs" href="#">
        <h4 style="margin-top: 30px">FAQs</h4>
        <br/>
        <i class="far fa-comments fa-3x" style="margin-bottom:30px"></i>
        <p style="width: 300px; margin-left: auto; margin-right: auto">Check for the latest update of the question in our knowledge base. </p>
        <br/>
    </div>
    
    <div class="col-sm-4" id="recent_update" href="#">
        <h4 style="margin-top: 30px">Recent Updated</h4>
        <br/>
        <i class="fas fa-edit fa-3x" style="margin-bottom:30px"></i>
        <p style="width: 300px; margin-left: auto; margin-right: auto">Check for the latest update of the question in our knowledge base. </p>
        <br/>
    </div>

</div>
<br/><br/><br/>
<div class="jumbotron">
    <h1>Admin panel</h1>
    <br/>
    <label for="operation">Choose operation:</label>
    <select name="operation" id="operation" onchange="location = this.value;">
        <option value="">Choose option</option>
        <option value="{% url 'Crud_QA' operation='Add' id='0' %}" href="{% url 'Crud_QA' operation='Add' id='0' %}">Add</option>
        <option value="{% url 'Crud_QA' operation='View' id='0' %}" href="{% url 'Crud_QA' operation='View' id='0' %}">View</option>
    </select>
    <button type="submit" class="btn-primary" style="margin-left: 2.5em;" formaction="{% url 'train_dict' %}"> Train Dict</button>
</div>

{% endblock %}