{% extends "app/layout.html" %}

{% block content %}
<style>
    #question {
        margin-bottom: 5vw;
        margin-top: 8vw;
    }

    #update {
        float: right;
        margin-top: -3%;
        position: relative;
    }

    #view { float: right; }

    #answer { background: #f2f2f3; }

    #request {
        background: #f37a3b;
        border-color: #f37a3b;
    }


</style>


<h3 id="question">
    <b>{{query.question}}</b>
</h3>

<p id="update">Last update: {{ query.updated_date }}</p>

<div class="jumbotron" id="answer">
    <span id="answer">
        {% autoescape off %}
        {{query.answer}}
        {% endautoescape %}
    </span>
    <p id="view">Views: {{ query.view_count }}</p>
</div>
<button class="btn btn-info" id="request">Request for changes</button>

{% endblock %}