{% extends "app/layout.html" %}

{% block content %}
<style>
    #question {
        margin-bottom: 5vw;
        margin-top: 8vw;
    }

    #update {
        float: right;
        margin-top: -3%;
        position: relative;
    }

    #view { float: right; }

    #answer { background: #f2f2f3; }

    #request {
        margin-left: -5px;
        background: #f37a3b;
        border-color: #f37a3b;
    }

    @media (max-width: 1510px)
    {
        #question{
            margin-top: 15%;
        }
    }


    @media (max-width: 576px)
    {
        #question{
            margin-top: 25%;
            margin-bottom: 10%;
        }
        #view {
        float: right;
        font-size: 0.9rem;
        }
        #update {
        margin-top: -20px;
        font-size: 0.9rem;
        }
        #question{
        font-size: 1.4rem;
        }
        #answer{
            font-size: 0.9rem;
        }
    }

    @media (max-width: 767px)
    {
        #question{
            margin-top: 25%;
            margin-bottom: 10%;
        }
        #view {

        }
        #update {
        margin-top: -20px;
        }
        #question{

        }
    }
</style>


<h3 id="question">
    <b>{{query.question}}</b>
</h3>

<p id="update">Last update: {{ query.updated_date }}</p>

<div class="jumbotron" id="answer">
    <span id="answer">
        {% autoescape off %}
        {{query.answer}}
        {% endautoescape %}
    </span>
    <p id="view">Views: {{ query.view_count }}</p>
</div>
<br>
<br>
{% if request.user.role_code == 2 %}
<form action="{% url 'request' operation='request_edit' %}" method="POST">
    {% csrf_token %}
    <input name="question_id" id="question_id" value="{{query.id}}" hidden />
<td><button href="#" class="btn btn-info" id="request">Request for changes</button>
</form>
{% elif request.user.role_code == 1 %}
<form action="{% url 'Crud_QA' operation='Edit' id=query.id%}" method="POST">
    {% csrf_token %}
    <input name="id_check" id="question_id" value="{{query.id}}" hidden />
<td><button href="#" class="btn btn-info" id="request">Edit question</button>
</form>
{% endif %}
<br>
<br>
<br>
<br>
{% endblock %}