{% extends "app/layout.html" %}
{% block content %}
{% load static %}
<script src="https://cdn.tiny.cloud/1/lkp5p0w1fk12lr4trywat44qle2pxarpedhgjkdxxmsohyl2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

<style>
    body { #background-image: url("{% static 'img/regis_bg.jpg' %}"); }

    #logo { fill: #e87639; }

    #Error {
        background-color: #ffcccb;
        border: 2px;
        border-color: #ffcccb;
        border-radius: 10px;
        border-style: solid;
        color: red;
        height: 60px;
        margin-bottom: 15px;
        padding: 1em;
    }

    #frame {
        border: 3px;
        border-color: #b5b5b5;
        border-radius: 50% 50% 50% 50%;
        border-style: solid;
        height: 200px;
        margin-left: 120px;
        margin-right: auto;
        width: 200px;
    }

    #message {
        background: #f5f5f5;
        border-radius: 20px 20px 20px 20px;
        color: #000;
        display: none;
        margin-top: 10px;
        padding: 20px;
        position: relative;
    }

    #message p {
        font-size: 14px;
        margin-left: 35px;
        margin-top: -10px;
    }

    /* Add a green text color and a checkmark when the requirements are right */

    .valid { color: green; }

    .valid:before {
        content: "✔";
        left: -35px;
        position: relative;
    }

    /* Add a red text color and an "x" when the requirements are wrong */

    .invalid { color: red; }

    .invalid:before {
        content: "✖";
        left: -35px;
        position: relative;
    }
</style>
<script>
    function shake() {
        $("#Error").effect("shake");
    }


    $(document).ready(function() {
        $("#datepicker").datepicker({
            format: 'yyyy-mm-dd' //can also use format: 'dd-mm-yyyy'     
        });
    });

    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }

    validate_password = function(val) {
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");

        val.onclick = function() {
            document.getElementById("message").style.display = "block";
        };

        val.onblur = function() {
            document.getElementById("message").style.display = "none";
        };

        val.onkeyup = function() {

            var lowerCaseLetters = /[a-z]/g;
            if (val.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
            }

            var upperCaseLetters = /[A-Z]/g;
            if (val.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
            }

            var numbers = /[0-9]/g;
            if (val.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
            }

            if (val.value.length >= 8) {
                length.classList.remove("invalid");
                length.classList.add("valid");
            } else {
                length.classList.remove("valid");
                length.classList.add("invalid");
            }
        };
    };
</script>

<head>
    <meta charset="utf-8"/>

    <title > Register User </title>
</head>
<body>
<div class="container py-5 h-100" style="margin-top: 30px">
    <div class="row justify-content-center align-items-center h-100" style="font-size: 14px; margin-left: -15%; width: 1000px;">
        <div class="col-12 col-lg-9 col-xl-7" style="width: 1000px">
            <div class="card shadow-2-strong card-registration" style="border-radius: 15px; transform: scale(0.93); width: 1000px;">
                <div class="card-header p-1 p-md-4" style="background-color: #032539; border-radius: 15px 15px 0px 0px; height: 90px;">
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-5" style="color: aliceblue; margin-top: 5px; text-align: center;">
                        <b>Registration Form</b>
                    </h3>
                </div>
                <div class="card-body p-4 p-md-5">
                    <form method="POST" class="was-validated" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if error %}
                        <div style="text-transform: capitalize;" id="Error">
                            <p><i class="fas fa-exclamation-triangle" style="margin-right: 10px;"></i> {{error}}</p>
                            <script type="text/javascript">
                                shake();
                            </script>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6 mb-4">

                                <div class="form-outline">
                                    <label class="form-label" for="username"><i class="fas fa-user"></i> Username</label>
                                    <input type="text" id="username" name="username" class="form-control is-valid" placeholder="Enter Username" required/>
                                </div>

                            </div>
                            <div class="col-md-6 mb-4">

                                <div class="form-outline">
                                    <label class="form-label" for="password"><i class="fas fa-key"></i> Password</label>
                                    <input type="password" id="psw" name="password" class="form-control is-valid" placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" onclick="validate_password(this)"required/>
                                </div>

                                <div id="message">
                                    <br/>
                                    <h6 style="font-size: 15px">
                                        <b>Password must contain the following:</b>
                                    </h6>
                                    <br/>
                                    <p id="letter" class="invalid">A <i><b>lowercase</b> letter</i></p>
                                    <p id="capital" class="invalid">A <i><b>capital (uppercase)</b> letter</i></p>
                                    <p id="number" class="invalid">
                                        A
                                        <i>
                                            <b>number</b>
                                        </i>
                                    </p>
                                    <p id="length" class="invalid">
                                        Minimum
                                        <i>
                                            <b>8 characters</b>
                                        </i>
                                    </p>
                                </div>

                            </div>
                            <div class="col-md-6 mb-4">

                                <div class="form-outline">
                                    <label class="form-label" for="firstName"><i class="fas fa-user-edit"></i> First Name</label>
                                    <input type="text" id="firstName" name="first_name" class="form-control is-valid" placeholder="Enter First Name" required/>
                                </div>

                            </div>
                            <div class="col-md-6 mb-4">

                                <div class="form-outline">
                                    <label class="form-label" for="lastName"> Last Name</label>
                                    <input type="text" id="lastName" name="last_name" class="form-control is-valid" placeholder="Enter Last Name" required/>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4 d-flex align-items-center">

                                <div class="form-outline">
                                    <label for="birthdayDate" class="form-label"><i class="fas fa-birthday-cake"></i> Birthday</label>
                                    <input
                                        class="form-control is-valid"
                                        id="datepicker"
                                        name="date_of_birth"
                                        placeholder=" YYYY-MM-DD format"
                                        style="width: 240px"
                                        required/>
                                </div>

                            </div>
                            <div class="col-md-6 mb-4">

                                <h6 class="mb-2 pb-1"><i class="fas fa-venus-mars"></i> Gender: </h6>

                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="femaleGender">Female</label>
                                    <input
                                        class="form-check-input"
                                        type="radio"
                                        name="gender"
                                        id="femaleGender"
                                        value="female"

                                        required/>

                                </div>

                                <label class="form-check-label" for="maleGender">Male</label>
                                <div class="form-check form-check-inline">
                                    <input
                                        class="form-check-input"
                                        type="radio"
                                        name="gender"
                                        id="maleGender"
                                        value="male"/>
                                </div>


                                <div class="form-check form-check-inline">
                                    <label class="form-check-label" for="otherGender">Other</label>
                                    <input
                                        class="form-check-input"
                                        type="radio"
                                        name="gender"
                                        id="otherGender"
                                        value="other"/>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-4 pb-2">

                                <div class="form-outline">
                                    <label class="form-label" for="emailAddress"><i class="fas fa-envelope"></i> Email</label>
                                    <input type="email" id="emailAddress" name="email" class="form-control is-valid" placeholder="Enter Email" required/>
                                </div>

                            </div>
                            <div class="col-md-6 mb-4 pb-2">

                                <div class="form-outline">
                                    <label class="form-label" for="phoneNumber"><i class="fas fa-phone"></i> Phone Number</label>
                                    <input type="tel" id="phoneNumber" name="phone_no" class="form-control is-valid" placeholder="Enter Phone Number" required/>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">

                                <label class="form-label select-label"><i class="fas fa-building"></i> Choose Department</label>
                                <select class="select form-control is-valid" name ="department" required>
                                    <option value="2">Call center</option>
                                    <option value="3" disabled></option>
                                    <option value="4" disabled>Subject 2</option>
                                    <option value="5" disabled>Subject 3</option>
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-4">

                                <br/>
                                <label class="form-label select-label"><i class="fas fa-user-circle"></i> Profile Picture</label>
                                <input class="form-control form-control-xs" id="formFileLg" name="avatar" type="file" accept="image/jpeg, image/png" onchange="preview()" style="height: 43px"/>
                                <div class="small text-muted mt-2">upload profile picture. Max file size 50 MB</div>
                                <br/>
                            </div>

                            <div class="col-md-6 mb-4 pb-2">
                                <br/>
                                <label class="form-label select-label"><i class="fas fa-image"></i> Preview </label>
                                <br/>
                                <img id="frame" src="{% static 'img/user.png' %}" alt="your image"/>
                            </div>

                        </div>

                        <div class="mt-4 pt-2" style="margin-left: 380px; margin-right: auto">
                            <a type="submit" href="{% url 'user' %}" class="btn btn-danger"> Cancel </a>
                            <input class="btn btn-primary" type="submit"/>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

{% endblock %}