{% extends "app/layout.html" %}
{% load i18n %}
{% block content %}
<script src="https://cdn.tiny.cloud/1/lkp5p0w1fk12lr4trywat44qle2pxarpedhgjkdxxmsohyl2/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script>
    tinymce.init({
        editor_selector: "editor",
        mode: "textareas", // change this value according to your HTML
        images_upload_url: '/upload_image/', // Image upload address in Django route
        height: 500,
        branding: false,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'code image | ' +
            'removeformat',

        init_instance_callback: function (editor) {
            var editorH = editor.editorContainer.offsetHeight;
            $('#editor')
                .css({
                    'position': 'absolute',
                    'height': editorH
                })
                .show();
        },
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        }
    });

    tinymce.init({
        editor_selector: "editor_en",
        mode: "textareas", // change this value according to your HTML
        images_upload_url: '/upload_image/', // Image upload address in Django route
        height: 500,
        branding: false,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'code image | ' +
            'removeformat',

        init_instance_callback: function (editor) {
            var editorH = editor.editorContainer.offsetHeight;

            $('#editor1')
                .css({
                    'position': 'absolute',
                    'height': editorH
                })
                .show();
        },
        setup: function (editor) {
            editor.on('change', function () {
                editor.save();
            });
        }
    });

</script>

<head>
    <meta charset="utf-8" />
    <title> CRUD operations </title>
</head>

<body>
    <br /><br /><br />
    <center>
        <br><br>
        <h1>Request edit question</h1>
        <br>
        <div class="id" id="{{id_list}}"></div>
        <form method="POST" class="was-validated">
            {% csrf_token %}
            <table class="table table-hover">
                <thead class="thead-dark">
                    <th scope="col" colspan="6">
                        <label type="text" name="question"> Question ID </label>
                        <label type="text" name="question_id">{{question_data.id}} </label>
                    </th>
                </thead>
                <td>Question</td>

                <td colspan="6">
                    <input type="text" name="question_id" value="{{question_data.id}}" hidden </input>
                    <input type="text" name="user_id" value="{{user_query.id}}" hidden </input>
                    <input type="text" class="form-control is-valid" name="question" value="{{question_data.question}}"
                        required />
                </td>
                <tr>
                    <td>Answer</td>
                    <td colspan="10">
                        <span style="white-space: pre-line">
                            <textarea name="answer" class="editor" id="editor{{question_data.id}}"
                                required>{{question_data.answer}}</textarea>
                        </span>
                    </td>
                </tr>
                <td>Question EN</td>
                <td colspan="2">
                    <input type="text" class="form-control is-valid" name="question_en"
                        value="{{question_data.question_en}}" required />
                </td>
                <tr>
                    <td>Answer en</td>
                    <td colspan="6">
                        <span style="white-space: pre-line">
                            <textarea name="answer_en" class="editor_en" id="editor1{{question_data.id}}"
                                required>{{question_data.answer_en}}</textarea>
                        </span>
                    </td>
                </tr>
                <td>Remark</td>
                <td colspan="2">
                    <input type="text" class="form-control is-valid" name="remark" value="{{question_dataremark}}" />
                </td>
                <tr>
                    <td colspan="2">
                        <label for="Question">Department ID: </label>
                    <td>
                        <select class="form-control" name="department_id">
                            {% for dep in department %}
                            <option name="department_id" value="1">({{dep.department_id}}) {{dep.department_name}}
                            </option>
                            {% endfor %}
                        </select>
                    </td>
                    </td>
                <tr>
            </table>
            <br />
            <button type="submit" class="btn btn-success"
                formaction="{% url 'request' operation='editquestion'%}">Submit request</button>
            <button type="submit" class="btn btn-danger"
                formaction="{% url 'Crud_QA' operation='Remove' id='0' %}">Delete</button>
            <br /><br /><br />
        </form>
    </center>
</body>
{% endblock %}