{% extends "app/layout.html" %}

{% block content %}
<script src="https://cdn.tiny.cloud/1/lkp5p0w1fk12lr4trywat44qle2pxarpedhgjkdxxmsohyl2/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        editor_selector: "editor",
        mode: "textareas", // change this value according to your HTML
        images_upload_url: '/upload_image/', // Image upload address in Django route
        height: 500,
        branding:false,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'code image | ' +
            'removeformat',

        init_instance_callback: function(editor) {
            var editorH = editor.editorContainer.offsetHeight;
            $('#editor')
            .css({
                'position': 'absolute',
                'height': editorH
            })
            .show();
        },
        setup: function (editor) {
                editor.on('change', function () {
                editor.save();
                });
        }
    });

    tinymce.init({
        editor_selector: "editor_en",
        mode: "textareas", // change this value according to your HTML
        images_upload_url: '/upload_image/', // Image upload address in Django route
        height: 500,
        branding:false,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
            'bold italic backcolor | alignleft aligncenter ' +
            'alignright alignjustify | bullist numlist outdent indent | ' +
            'code image | ' +
            'removeformat',

        init_instance_callback: function(editor) {
            var editorH = editor.editorContainer.offsetHeight;

            $('#editor1')
            .css({
                'position': 'absolute',
                'height': editorH
            })
            .show();
        },
        setup: function (editor) {
            editor.on('change', function () {
            editor.save();
        });
    }
    });

</script>
<head>
    <meta charset="utf-8"/>
    <title> CRUD operations </title>
</head>
<body>
<br/><br/><br/><br/><br>
<h2 style="text-align: center;">Request Add Question</h2>
<br>
<div class="form-group">
           <form method="POST" class="was-validated">
            {% csrf_token %}
            <table class="table table-hover">
                <thead class="thead-dark">
                    <th scope="col" colspan="6">
                        <label type="text" name="question"></label>
                        <label type="text" name="question_id"></label>
                    </th>
                </thead>
                <td>Question:</td>

                <td colspan="6">
                    <input type="text" name="request_id" value="{{request_data.request_id}}" hidden />
                    <input type="text" name="user_id" value="{{user_query.id}}" hidden />
                    <input type="text" class="form-control is-valid" name="question" value="{{request_data.question}}"
                        required />
                </td>
                <tr>
                    <td>Answer (optional):</td>
                    <td colspan="10">
                        <span style="white-space: pre-line">
                            <textarea name="answer" class="editor" id="editor{{request_data.id}}"></textarea>
                        </span>
                    </td>
                </tr>
                <td>Question English (optional):</td>
                <td colspan="2">
                    <input type="text" class="form-control is-valid" name="question_en"
                        value="{{request_data.question_en}}"/>
                </td>
                <tr>
                    <td>Answer English (optional):</td>
                    <td colspan="6">
                        <span style="white-space: pre-line">
                            <textarea name="answer_en" class="editor_en" id="editor1{{request_data.id}}"></textarea>
                        </span>
                    </td>
                </tr>
                <td>Remark</td>
                <td colspan="2">
                    <textarea type="text" class="form-control is-valid" name="remark" style="height: 150px;"
                        required></textarea>
                </td>
                <tr>
                    <td colspan="2">
                        <label for="Question">Department ID: </label>
                        <td>
                        <select class="form-control" name="department_id">
                            {% for dep in department %}
                            <option name="department_id" value="{{dep.department_id}}">({{dep.department_id}}) {{dep.department_name}}
                            </option>
                            {% endfor %}
                        </select>
                        </td>
                    </td>
                </tr>
            </table>
            <br>
            <div style="margin-left: 40%; margin-right: auto;">
            <button type="submit" class="btn btn-success" formaction="{% url 'request' operation='update'%}"> Create Request</button>
            <a class="btn btn-danger" href="{% url 'request' operation='view_user' %}">Cancel</a>
            </div>
            <br /><br>
        </form>
</div>
</body>

{% endblock %}