{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
<h1>Search</h1>
<p class="lead">Type anything to search</p>
    <form action="{% url 'search' %}" class="form-inline" method="POST">
        {% csrf_token %}
        <input name="search" type="text" class="form-control" id="search" placeholder="{{ Question }}">
        <button type="submit" class="btn-primary"> Search</button>
    </form>
</div>
<div class="jumbotron">
    {% if Correct is not None %}
    <p class="lead">It look like you have a wrong spelling</p>
    <form action="{% url 'search' %}" class="form-inline" method="POST">
        {% csrf_token %}
        <p class="lead" name="search">Do you want to search again with: <input type="submit" class = "btn btn-link" name="search" value="{{ Correct}}"/></p>
    </form>
        <h2>Result</h2>
        {% for result in Result %}
           <p class="lead">{{ result }}</p>
        {% endfor %}
    {% else %}
        <h2>Question</h2>
        <p class="lead">{{ Question }}</p>
        <h2>Result</h2>
        {% for result in Result %}
            <p class="lead">{{ result }}</p>
        {% endfor %}
    {% endif %}
</div>
<p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Django gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}