{% extends "app/layout.html" %}

{% block content %}
<style>
    #submit, #delete {
        background-color: #f37a3b;
        border-color: #f37a3b;
        float: right;
    }

    #submit { margin-right: 10px }
</style>
<script>
    function toggle(source) {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i] != source)
                checkboxes[i].checked = source.checked;
        }
    }
</script>
<head>
    <meta charset="utf-8"/>
    <title> CRUD operations </title>

</head>
<body>
<br/><br/><br/>
<center>
    <br/>
    <h1>View form</h1>
    <div class="form-group">
        <input type="checkbox" onclick="toggle(this);"/>Check all?<br/>
        {% for questionanswer in query %}
        <form action="{% url 'Crud_QA' operation='Edit' id='0' %}" method="POST">
            {% csrf_token %}
            <table class="table table-hover">
                <thead class="thead-dark">
                <th scope="col" colspan="6">
                    <input type="checkbox" name="id_check" id="id_check" value="{{questionanswer.id}}"/>
                    <label type="text" name="question"class="font-weight-bold"> Quesion ID </label>
                    <label type="text" name="question_id">{{questionanswer.id}} </label>
                    <button type="submit" class="btn btn-primary btn-sm" href="{% url 'Crud_QA' operation='Remove' id=questionanswer.id %}" id="delete">Delete</button>
                    <button type="submit" class="btn btn-primary btn-sm" id="submit"> Edit </button>

                </th>
                </thead>
                <tr>
                    <td class="font-weight-bold">Question</td>
                    <td colspan="2">
                        <label type="text" name="question"> {{questionanswer.question}} </label>
                    </td>
                    <td class="font-weight-bold">Answer</td>
                    <td colspan="10">
                        <span style="white-space: pre-line">
                            {% autoescape off %}
                            {{questionanswer.answer}}
                            {% endautoescape %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-bold">Question EN</td>
                    <td colspan="2">
                        <label type="text" name="question"> {{questionanswer.question_en}} </label>
                    </td>
                    <td class="font-weight-bold">Answer en</td>
                    <td colspan="6">
                        <span style="white-space: pre-line">
                            {% autoescape off %}
                            {{questionanswer.answer_en}}
                            {% endautoescape %}
                        </span>
                    </td>

                </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn-primary"> Edit</button>
            <button type="submit" class="btn-primary" formaction="{% url 'Crud_QA' operation='Remove' id='0' %}">Delete</button>
        </form>
    </div>
    <br/>
</center>
</body>

{% endblock %}