{% extends "app/layout.html" %}

{% block content %}

<head>
    <meta charset="utf-8" />
    <title> CRUD operations </title>
</head>
<body>
<center>
    <h1>View form</h1>
    <form action="{% url 'Crud_QA' operation='Edit' id='0' %}" method="POST">
        {% csrf_token %}
        <table border="1">
            {% for questionanswer in query %}
            <tr>
                <td><input type="checkbox" name="id_check" value="{{questionanswer.id}}" readonly/></td>
                <td>ID</td>
                <td><input type="number" name="id" value="{{questionanswer.id}}" readonly/></td>
                <td>question</td>
                <td><input type="text" name="question" value="{{questionanswer.question}}" readonly/></td>
                <td>answer</td>
                <td>
                    <span style="white-space: pre-line">
                        <textarea rows = "5" cols = "60" name = "answer" readonly>{{questionanswer.answer}}</textarea>
                    </span>
                </td>
                <td>question EN</td>
                <td><input type="text" name="question_en" value="{{questionanswer.question_en}}"readonly/></td>
                <td>answer EN</td>
                <td>
                    <span style="white-space: pre-line">
                        <textarea rows = "5" cols = "60" name = "answer_en" readonly>{{questionanswer.answer_en}}</textarea>
                    </span>
                </td>
                <td><a href="{% url 'Crud_QA' operation='Remove' id=questionanswer.id %}">Delete</a></td>
            </tr>           
            {% endfor %}
        </table>
        <br/>
        <button type="submit" class="btn-primary"> Edit</button>
        <button type="submit" formaction="{% url 'Crud_QA' operation='Remove' id='0' %}">Delete</button>
    </form>
</center>
</body>

{% endblock %}        